* {
    padding: 0;
    margin: 0;
}


html {
    min-height: 100%;
    height: 100%;
}

body {
    background-color: #F3FFFD;
    min-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;



}

#header{
    width: 1440px;

    background-image:url(../static/img/Group-bg.png) ;
    background-size: cover;
 height: 890px;
    margin: 0 auto;

}



.collapse a:hover {
    color: green !important;
    
}

.navbar-brand img{
  width: 250x;
  height: 70px;

}
.nav-item a{
    font-family:  'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: right;
    color: white !important;

}
#main-content{

  
   
    margin-top: 80px 
    
    

}
#main-content h1{

    font-family:  'Montserrat', sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 58px;
    line-height: 80px;
  
    padding-top:40px ;
    letter-spacing: 0.2px;
    
    color: white;
 
  

}
#main-content h4{
 
    font-family:  'Montserrat', sans-serif;
    font-style: normal;
    font-weight:normal;
    font-size: 20px;


    letter-spacing: 0.2px;
    padding-top: 40px;
    color: white;
 
  

}
#header .card-deck{
    padding: 30px 30px
}
#header  .card {
    margin-top: 80px;
   
    width: 328px;
    height: 254px;
    display: flex;
flex-direction: column;
margin: 20px 20px;





}


#header  .card img{
  
   padding-left: 40px;
   padding-top: 35px;
    width:108px;
    height:108px;
}
#header .card  h3{
    font-family:  'Montserrat', sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 24px;
    letter-spacing: 0.1px;
    line-height: 32px;
    color: #252B42;


}
#header .color-card3{
    color: white  !important;
}
#main-block{
    width: 1440px;
    height: 1475px;
    margin: 0 auto;
}