{% extends "base.html" %}


{% block title %}
Контакти
{% endblock %}


{% block body %}



  <div class="container-xl">
      <div class="contacts-block">
          <div class="row">
          <div class="col-md-12">
              <h5>Контакти:</h5>
              <h6 class ="phone">097 903 62 64</h6>
              <h6 class ="phone">066  134 64</h6>
              <h6 class="map">Волинська обл. с.Голишів вул. Галана, 16</h6>
          </div>
  
          </div>
          <div class="row justify-content-center">
          <div class="col-md-12">
              <h1 class=" text-center">Наше місце знаходження</h1>
          </div>
  
  </div>
  
  <div class="row justify-content-center ">
       <div class="col-md-12">
       <div class="text-center embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2468.9586230226255!2d25.49943545153079!3d51.7703635991631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4726f73f9ed6f26d%3A0x73813900fabee269!2z0LLRg9C7LiDQk9Cw0LvQsNC90LAsINCb0Y7QsdC10YjRltCyLCDQktC-0LvQuNC90YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDQ0MjAx!5e0!3m2!1sru!2sua!4v1642162260010!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
       </div>  
       </div>
      
  
      
  
          
      </div>
          </div>
  
      </div>
  
    <div class="container-xl">
      <div class="footer">
        <div class="conteiner">
          <div class="row justify-content-center">
            <div class="col-md-8 col-7">
              <p>Всі права захищені і належать підприємству "Вантажні перевезення"</p>
            </div>
            <div class="col-md-2 col-5"> <a href=""><img src="static/img/facebook.svg" alt=""></a></div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}