<!doctype html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="static/style.css">

  <link
    href="static\font\Montserrat\Montserrat-VariableFont_wght.ttf"
    rel="stylesheet">
  <title>Lab5</title>
</head>


  <div class="container ">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top ">
      <a class="navbar-brand" href="#"> <img class="" src="static/img/logo.svg" alt="" class=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  " id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index">Головна
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">Контакти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">Ціни</a>
          </li>
        </ul>
      </div>
    </nav>
    <header>



      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12" style="padding: 0;">
            <img class="img-fluid" src="static/img/Group-bg.png" alt="">
            <div id="main-content" class= "position-absolute"
              style="top: 50%; left: 0; right: 0; transform: translateY(-50%);">
                <h1 class="text-center text-white">Вантажні <br> перевезенн'я</h1>
                <h4 class="text-center text-white">Надійний сервіс, хороші ціни</h4>


              

          
          </div>
        </div>
      </div>


    </header>

    <div class="container">
      <div id="main-block">
        <div class="row justify-content-center">
          <h2 class="">Послуги компаній</h2>

        </div>

        <div id="main-content">


          <div class="row justify-content-center  ">
            <div class="card-deck">

              <div class="card">
                <img src="static/img/Dollar.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ціни доставки м. Луцьк</h5>
                  <p class="card-text">До 20кг: 60грн</p>
                  <p class="card-text">Від 21 до 80кг: 140 грн</p>
                  <p class="card-text">Від 80 до 200кг: 140грн</p>
                  <p class="card-text">Від 200 до 1000кг: 140 грн</p>
                  <p class="card-text">Від 1000 до 4000кг: 140 грн</p>
                  <p class="card-text"> Більше 4000кг: 140 грн</p>
                </div>

              </div>
              <div class="card">
                <img src="static/img/Dollar.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ціни на перевезення</h5>
                  <p class="card-text">До 10км: 1.83 Грн/кг</p>
                  <p class="card-text">Від 10 до 20 км: 2.93 Грн/кг</p>
                  <p class="card-text">Від 20 ло 30 км: 3.00 Грн/кг</p>
                  <p class="card-text">Від 30 до 40 км: 4.10 Грн/кг</p>
                  <p class="card-text">Від 40 до 50 км: 5.20 Грн/кг</p>
                  <p class="card-text">Від 50 до 60 км: 6.03 Грн/кг</p>
                </div>

              </div>

            </div>
          </div>

          <div class="row justify-content-center">
            <div class=" card-deck">

              <div class="card">
                <img src="static/img/bus.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Високоякісний транспорт</h5>
                  <p class="card-text">Ми доставляємо ваш вантаж тільки перевіриному транспорті .</p>
                  <p class="card-text">Наш транспорт проходить повну перевірку перед відправео</p>
                </div>

              </div>
              <div class="card">
                <img src="static/img/treck.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title ">Перевезення по Україні</h5>
                  <p class="card-text"> Доставляємо вантаж по областям Україні</p>
                </div>

              </div>

            </div>
          </div>


        </div>
      </div>

    </div>
    <div class="container">
      <div id="for-clients">
        <div class="container">
          <div class="row  ">
  
            <h2>Для клієнтів</h2>
  
          </div>
          <div class="row ">
            <div class="features-list mt-4">
  
              <h6> Відправляєте заявку через форму. </h6>
              <h6>Ми розлядаємо заявку, звязуємося з вами. Оточнюємо деталі.</h6>
              <h6>Ви отримуєте вантаж. Все просто.</h6>
  
  
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <div class="container">
      <div id="about-us">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Про нас</h2>
              <p>Багаторічний досвід роботи підприємства «Вантажні перевезення» у сфері організації вантажоперевезень по
                території України, власний автомобільний парк, а також щоденні
                відправлення автомобілів магістральними маршрутами дозволять Вам якісно та оперативно передавати товари,
                матеріали, обладнання та інші вантажі по Україні.</p>
  
            </div>
          </div>
  
  
        </div>
      </div>
    </div>
    <div class="container">
 
      <div class="contact-form">    <div class="container">
        <div class="container">
          <div class="row justify-content-center ">
            <div class=" col-lg-6 col-md-12 col-sm-12 col-12">
              <img class=" img-fluid" src="static/img/fura.svg" alt="">
            </div>
            <div class=" col-lg-6 col-md-12 col-sm-12 col-12">
              <h3 class="">Зв`язатися з нами</h3>
      
              <form method="post">
                <div class="form-row mt-2 ">
                  <div class="form-group  col-md-12 col-sm-4 col-12">
                    <label for="name">Ваше ім'я</label>
                    <input type="text" class="form-control" id="name" placeholder="ФІО">
      
                  </div>
                  <div class="form-group  col-md-12 col-sm-6 col-12">
                    <label for="email">Електрона адреса</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                  <div class="form-group  col-md-12 col-sm-10 col-12  ">
                    <label for="number_phone">Номер телефона</label>
                    <input type="text" class="form-control" id="number_phone">
                  </div>
                </div>
      
      
                <div class="form-row  ">
                  <div class="form-group col-md-6 col-sm-6 col-12">
                    <label for="weight">Вага вантажу, кг</label>
                    <input type="text" class="form-control" id="weight">
                  </div>
                  <div class="form-group  col-md-12 col-sm-12 col-12">
                    <label for="type_wantazy1">Тип вантажу</label>
                    <input type="text" class="form-control" id="type_wantazy">
                  </div>
      
      
                </div>
      
      
      
                <div class="form-row">
                  <div class="form-group  col-md-6 col-sm-6 col-12">
                    <label for="city_start">Місто відправник</label>
                    <input type="text" class="form-control" id="city_start">
                  </div>
      
                  <div class="form-group col-sm-6  col-md-12 col-12 ">
                    <label for="street_start">Вулиця відправлення</label>
                    <input type="text" class="form-control" id="street_start">
                  </div>
                </div>
                <div class="form-row ">
                  <div class="form-group col-md-6 col-sm-6 col-12">
                    <label for="city_finish1">Місто отримувача</label>
                    <input type="text" class="form-control" id="city_finish">
                  </div>
                  <div class="form-group col-md-12 col-12 ">
                    <label for="street_finish">Вулиця отримувача</label>
                    <input type="text" class="form-control" id="street_finish">
                  </div>
                  <div class="form-group сol-md-6 col-12 ">
                    <label for="pay_type">Спосіб оплати</label>
                    <input type="text" class="form-control" id="pay_type">
                  </div>
      
      
                </div>
      
      
      
      
                <button type="submit" class="btn btn-success mb-4">Відправити</button>
              </form>
          </div>
      
      
        </div>
        </div>
      
      </div>
      </div>
      </div>
      
      
    <div class="container">
      <div class="footer">
        <div class="conteiner">
          <div class="row justify-content-center">
            <div class="col-md-8 col-7">
              <p>Всі права захищені і належать підприємству "Вантажні перевезення"</p>
            </div>
            <div class="col-md-2 col-5"> <a href=""><img src="static/img/facebook.svg" alt=""></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

















<!-- Вариант 1: пакет jQuery и Bootstrap (включает Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
  integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous">
</script>

</body>

</html>