{% extends "base.html" %}


{% block title %}
Ціни
{%  endblock  %}

  
{% block body %}

<div class="container-xl">
    <div class="row justify-content-center mt-3">

        <h1 class="">Ціни</h1>

    </div>
    <div class="table-responsive">
        <table class="table table-info table-hover table-bordered mt-4">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Тариф</th>
                    <th scope="col">До 10км</th>
                    <th scope="col">Від 10 до 20 км</th>
                    <th scope="col">Від 20 до 30 км</th>
                    <th scope="col">Від 30 до 40 км</th>
                    <th scope="col">Від 40 до 50 км</th>
                    <th scope="col">Від 50 до 60 км</th>

            </thead>
            <tbody class="">
                <tr>
                    <th scope="row">Грн../кг</th>
                    <td>1.83 Грн/кг</td>
                    <td> 2.93 Грн/кг</td>
                    <td> 3.00 Грн/кг</td>
                    <td> 4.10 Грн/кг</td>
                    <td>5.20 Грн/кг</td>
                    <td>6.03 Грн/кг</td>
                </tr>
                <tr>
                    <th scope="row">Грн../ дм3</th>
                    <td>0,61</td>
                    <td>0,86</td>
                    <td>1,13 </td>
                    <td>1,47 </td>
                    <td>1,78 </td>
                    <td>2,03 </td>
                

                </tr>



            </tbody>
        </table>
    </div>






</div>

{% endblock %}





