
{% extends "base.html" %}


{% block title %}
Перевірити за'явку
{%  endblock  %}
{% block body %}
<div class="container-xl">
  <div class="row justify-content-center">
    <div class="col-12">
      <form action="" method="post">   
        <div class="form-group mt-5">
       <label for="my-input">Введіть електрону адресу</label>
       <input id="my-input" class="form-control" type="text" name="">
       <button class="btn btn-success mt-4" type="submit">Перевірити</button>
   </div>  </form>
</div>
    </div>
  


</div>
{% endblock %}


  














